.title {
text-decoration: none;
text-transform: uppercase;
/* text-align: center; */
width: 250px;
height: 150px;
color: aquamarine;
background-color: rgb(207, 181, 181);
border: 2px dashed #f3070b;
padding: 50px;
margin: 0 auto;
}
/*  */
.text {
    text-decoration: overline;
text-transform: capitalize;
text-align: center;
}
/*.text::selection {
    color: blue;
    background-color: aquamarine;
}*/
.second-text {
    text-decoration: underline;
text-transform: lowercase;
text-align: center;
}
.third-text {
    text-decoration: none ;
text-transform: lowercasee;
}
.fourth-text {
    text-decoration: wavy;
text-transform: uppercase;
}